
.home-cards-row{
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.home-cards-row>h2{
    /*max-width: 690px;*/
    /*max-width: 483px;*/
    max-width: 600px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: initial;
}

.home-cards{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 46px;
}
.home-cards>div{
    width: 272px;
}

@media screen and (max-width: 700px) {
    .home-cards{
        gap: 25px;
    }
    .home-cards>div{
        width: 100%;
    }
    .home-cards-row>h2{
        margin-bottom: 25px;
    }
}

/*.home-cards-row
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: minmax(210px, 272px) minmax(300px, 360px) minmax(210px, 272px);
    grid-template-rows: 1fr;
    gap: 10px;
}

.home-cards-row>h2{
    text-align: center;
}*/

/* En dessous de 1020px on met le h2 en haut */
/*@media screen and (max-width: 992px) {
    .home-cards-row{
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .home-cards-row>h2{
        order: -1;
        grid-column: span 2; 
    }

    .home-cards-row > :not(h2) {
        width: 272px; 
        margin: auto; 
    }
}


@media screen and (max-width: 660px) {
    .home-cards-row > :not(h2) {
        width: 220px;
    }
}

@media screen and (max-width: 550px) {
    .home-cards-row > :not(h2) {
        width: 180px;
    }
}

@media screen and (max-width: 480px) {
    .home-cards-row > :not(h2) {
        width: 150px;
    }
}

@media screen and (max-width: 420px) {
    .home-cards-row > :not(h2) {
        width: 120px;
    }
}
*/