.home-section4-large-container
{
    background-color: #196BCA;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.home-section4-container
{
    background: white;
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.home-section4-container h2{
    font-size: 38px;
    margin-bottom: 20px;
}

.home-section4-container h3{
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    color: #686868;
    margin-bottom: 20px;
}

#section4-wrapper
{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}