.card{
    height: 250px;
    width: 100%;
    border-radius: 3px;
    background: #e6e6e6;
    position: relative;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: #dddddd;
}

.card>svg{
    font-size: 30px;
}

.card>a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deleteConfirm{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9c9c9;
    z-index: 2;
    border-radius: 3px;
}

.card.loading{
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.initialDeleteIcon > *{
    color: #1F1F1F;
    scale: 1;
}

.initialDeleteIcon > *:hover{
    color: #000000;
    scale: 1.1;
}


.deleteIcon > *{
    color: #ff0015;
    scale: 1.4;
}

.deleteIcon > *:hover{
    color: #db0012;
    scale: 1.6;
}

.closeIcon > *{
    color: #1F1F1F;
    scale: 1.2;
}

.closeIcon > *:hover{
    color: #000000;
}

.topRight{
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 8px;
}

.icon{
    cursor: pointer;
}