.dropDownTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background: white;
    border-bottom: 1px solid #F9F9F9;
}
.parentDropDown
{
    padding-left: 30px;
}
.dropDownTitle.active
{
    background: #dbdbdb;
}

.dropDownTitle:hover
{
    background: #dbdbdb;
}


.rotate-default
{
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.rotate
{
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}