.post-it-container{
    position: absolute;
    cursor: grab;
    /*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
    /*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.07) 0px 11px 8px, rgba(0, 0, 0, 0.02) 0px 8px 16px;*/
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 3px 2px, rgba(0, 0, 0, 0.08) 0px 7px 4px, rgba(0, 0, 0, 0.06) 0px 10px 8px, rgba(0, 0, 0, 0.01) 0px 7px 16px;
}

.post-it-container:active{
    cursor: grabbing;
}

.post-it-content
{
    word-wrap: break-word;
    padding: 8px;
}

.deadline-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.deadline-wrapper > .deadline{
    margin-bottom: 15px;
}
.post-it-content > .title{
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.post-it-content > .content{
    margin: 0;
}


.edit-icon
{
    cursor: pointer;
    transition: transform 0.3s ease;
}
.edit-icon:hover
{
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 2px;
}

/****COLORING****/
.header-yellow{
    background: #ffd980;
}
.content-yellow{
    background: #FCCF67;
}
.header-green{
    background: #a8ff80;
}
.content-green{
    background: #7afc67;
}
.header-orange{
    background: #ffbc80;
}
.content-orange{
    background: #fcad67;
}
.header-blue{
    background: #80d5ff;
}
.content-blue{
    background: #67cdfc;
}
.header-pink{
    background: #f980ff;
}
.content-pink{
    background: #f467fc;
}
