.post-it-container{
    position: absolute;
    cursor: grab;
}
.post-it-container:active{
    cursor: grabbing;
}

.post-it-header{
    background: #ffd980;
}

.post-it-content
{
    padding: 10px;
    background: #FCCF67;
}